:root {
  --primary-color: #04b1fd;
  --secondary-color: #ced8dd;
  --text-color: #465964;
  --border-color: #f5f7f8;
  --back-color: #fff;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -safari-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent !important;
}

html {
  color: var(--text-color) !important;
  accent-color: var(--primary-color);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.responsive-img {
  object-fit: cover;
}

.contacts-app {
  position: relative;
  width: 256px;
  height: 412px;

  border-radius: 0.2715em;
  background-clip: padding-box;
  background-color: var(--back-color);
  -webkit-background-clip: padding-box;
  overflow: hidden;

  box-shadow: 0 0 4em #6b8b9c58;
}

.contacts-app .container > div:not(.contacts-app__tabs) {
  padding-inline: 0.65em;
}

.contacts-app__menu {
  height: 40px;
  background: var(--back-color);
  border-bottom: 1px solid var(--secondary-color);
  z-index: 2;
}

.contacts-app__tabs {
  background-color: #fff;
  border-bottom: 1px solid var(--secondary-color);
  z-index: 2;
}

.contacts-app__tabs-tab {
  flex: 1;
  cursor: pointer;
}

.contacts-app__tabs-tab--active {
  border-bottom: 1px solid var(--primary-color);
}

/* start to styling search box */

.contacts-app__search-box {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  transition: transform ease-in-out 300ms;
  top: 77.2px;
  padding: 1em 2em;
  z-index: 1;
  background-color: #fff;
}

.contacts-app__search-box.active {transform: translate(0, -100%);}

.contacts-app__search-box input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0.5em 2em;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  outline: 0;
}
.contacts-app__search-box input:is(:focus, :active) {border: 1px solid var(--primary-color);}

/* end to styling search box */

.contacts-app__list {
  overflow-y: auto;
  height: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.contacts-app__list::-webkit-scrollbar {
  display: none;
}

.contacts-app__list-item {
  display: block;
  max-height: calc(40px + 1.9em);
  height: calc(40px + 1.9em);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}

.contacts-app__list-item:not(.remove-item) {
  padding: 0;
  height: calc(40px + 11.9em);
}

.contacts-app__list-item.remove-item {
  animation: 1s ease-in removeItem forwards,
    0.5s ease-out 1s zeroToHeight forwards;
  padding: 0;
  text-overflow: unset;
  will-change: clip-path, height;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.contacts-app__list-item.remove-item.item-loading {
  animation: 1s ease-in-out forwards resetHeight,
    0.5s ease-out 1s forwards resetWidth;
  max-height: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* Contact Element Animations */

@keyframes removeItem {
  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@keyframes loadItem {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    height: 0;
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    height: calc(40px + 1.9em);
  }
}

@keyframes zeroToHeight {
  from {
    height: calc(40px + 11.9em);
  }
  to {
    max-height: 0;
  }
}

@keyframes resetHeight {
  from {
    max-height: 0;
  }
  to {
    height: calc(40px + 1.9em);
    max-height: calc(40px + 1.9em);
  }
}
@keyframes resetWidth {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* Contact Element Animations */

.contacts-app__list-item-image,
.contacts-app__list-item-image img {
  width: 36px;
  height: 36px;
}

.contacts-app__list-item[data-isFavorite] .add-to-favorite {
  color: crimson;
}